<div class="post">
  <div class="header">
    <h1>Post title</h1>
    <button routerLink="/" class="btn btn-link">Main page</button>
  </div>

  <div class="info"><strong>Author</strong><small>12.09.2019</small></div>

  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad amet architecto cum cupiditate dolore eius eveniet
      facilis incidunt magnam magni molestias mollitia nam nihil non nostrum, nulla odit optio porro provident quam qui
      quis quisquam quod ratione recusandae repudiandae rerum sed tempora velit voluptas. Ad beatae pariatur praesentium
      sapiente voluptatibus.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad amet architecto cum cupiditate dolore eius eveniet
      facilis incidunt magnam magni molestias mollitia nam nihil non nostrum, nulla odit optio porro provident quam qui
      quis quisquam quod ratione recusandae repudiandae rerum sed tempora velit voluptas. Ad beatae pariatur praesentium
      sapiente voluptatibus.</p>
  </div>
</div>
